<aside class="main-sidebar">
    <section class="sidebar">
    <div style="height: 60px">
    </div>
          <ul class="sidebar-menu" id="sidebar-menu">
                <li id="navi"><a href="{% url 'navi' %}"><i class="fa fa-link"></i> <span>站点导航</span></a></li>
                <li id="cmdb"><a href="{% url 'cmdb' %}"><i class="fa fa-database"></i> <span>资产管理</span></a></li>
                <li id="cmdb"><a href="#"><i class="fa fa fa-server"></i> <span>业务线</span></a></li>
                <li id="cmdb"><a href="#"><i class="fa fa-free-code-camp"></i> <span>防火墙</span></a></li>
                <li id="config"><a href="#"><i class="fa fa-cog"></i> <span>系统配置</span></a></li>
                <li id="config"><a href="{% url 'user_list' %}"><i class="fa fa-users"></i> <span>用户管理</span></a></li>
          </ul>
    </section>
  </aside>